<%= hidden_field_tag('set_filter', '1') %>
<%= hidden_field_tag('type', @query.type, disabled: true, id: 'query_type') %>
<%= query_hidden_sort_tag(@query) %>

<div id="query_form_with_buttons" class="hide-when-print">
  <div id="query_form_content">
    <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);" class="icon icon-<%= @query.new_record? ? "expanded" : "collapsed" %>">
        <%= l(:label_filter_plural) %>
      </legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render(partial: 'queries/filters', locals: {query: @query}) %>
      </div>
    </fieldset>
    <fieldset id="options" class="collapsible collapsed">
      <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
        <%= l(:label_options) %>
      </legend>
      <div class="hidden">
        <%= render(partial: 'kanban_query/form_options', locals: {hide_advanced_options: true}) %>
      </div>
    </fieldset>
  </div>
  
  <p class="buttons">
    <%= link_to_function(l(:button_apply), '$("#query_form").submit()', class: 'icon icon-checked') %>
    <%= link_to(l(:button_clear), {set_filter: 1, sort: '', project_id: @project}, class: 'icon icon-reload') %>
  </p>
</div>

<%= error_messages_for(@query) %>

<script>
</script>
